/* catalog */
.navigation-logo {
    width: 140px;
}
.navigation-logo-img {
    display: block;
}
.main-title {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 110%;
    text-transform: uppercase;
    color: #242424;
}
.breadcrumbs {
    display: flex;
    list-style-type: none;
}
.breadcrumbs-item {
    margin-right: 32px;
}
/* form */

/* range-slider */
.range-scale {
    position: relative;
    height: 4px;
    background-color: #242424;
    margin-bottom: 16px;
    border-radius: 2px;
}
.range-bar {
    position: absolute;
    height: 4px;
    background-color: #af7842;
}
.toggle-range-button {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #242424;
    cursor: pointer;
    background-color: #fff;
}
.toggle-range-button:hover {
    background-color: #dbb590;
}
.toggle-min {
    top: -8px;
    /* left: -8px; */
}
.toggle-max {
    top: -8px;
    /* right: -8px; */
}
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
    /* убрать стрелки из инпута */
}
.range-price {
    display: flex;
    justify-content: center;
}
.range-label {
    display: flex;
    justify-content: center;
    margin: 0 4px;
}
.range-input {
    width: 40px;
    background-color: transparent;
    border: none;
    font: inherit;
    text-align: center;
    appearance: textfield;
}
/* catalog-filter-group */
.catalog-filter-group {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 40px;
}
.control {
    position: relative;
    display: block;
    padding-left: 36px;
    border: 1px solid green;
    cursor: pointer;
}
.control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #242424;
}
.control:hover .control-mark {
    border-color:  #814b18;
}
/* .control-input:disabled + .control-mark {
    border-color: #242424; 
} */
 /* checkbox */
.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 2px;
    width: 12px;
    height: 2px;
    background-color: #242424;
}
.control-input[type="checkbox"]:checked + .control-mark::before {
    transform: rotate(45deg);
}
.control-input[type="checkbox"]:checked + .control-mark::after {
    transform: rotate(-45deg);
}
/* radio */
.control-input[type="radio"]:checked + .control-mark::before,
.control-input[type="radio"]:checked + .control-mark::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 2px;
    width: 12px;
    height: 2px;
    background-color: #242424;
}
.control-input[type="radio"]:checked + .control-mark::before {
    transform: rotate(45deg);
}
.control-input[type="radio"]:checked + .control-mark::after {
    transform: rotate(-45deg);
}

.control-label {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
}
.catalog-filter-item:not(:last-child) {
    margin-bottom: 16px;
}

/* main-catalog */
.main-catalog {
    background-image: url(../img/noisy-texture.png);
    background-color: #fff;
    color: #000;
    margin-bottom: 32px;
}
.catalog-filter {
    border: 1px solid green;
    width: 220px;
    margin-right: 20px;
}
.catalog-products {
    display: flex;
}
.right-box {
    border: 1px solid green;
    flex-grow: 1;
}
.catalog-filter-title {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
}
.catalog-filter-list {
    list-style-type: none;
}

/* select-wrapper  */
.select-wrapper {
    display: flex;
    padding: 16px;
    background-color: #fff;
    margin-bottom: 16px;
}
.select-wrapper .button-link {
    width: 56px;
    height: 44px;
    background-color: #fff;
    color: #000;
}
.select-wrapper svg path {
    fill: #000;
}
.select-wrapper .button-link:hover {
    background-color: #dbb590;
}

.select-wrapper .select-current {
    background-color: #000;
}
.select-wrapper .select-current svg path {
    fill: #fff;
}
.select-wrapper .select-current:hover {
    background-color: #814b18;
}
.select {
    /* border: 1px solid green; */
    width: 260px;
    margin-right: auto;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.select-control {
    width: 100%;
    padding: 8px 14px;
    padding-right: 48px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    border: 2px solid #242424;
    color: #242424;
    background-image: url(../img/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center right 16px;
    appearance: none;
    cursor: pointer;
}

/* pagination-wrapper */
.pagination-prev {
    background-image: url(../img/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 16px;
}
.pagination-next {
    background-image: url(../img/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 16px;
}

/* product-wrapper */
.product-wrapper {
    margin-bottom: 24px;
}
.product-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 220px 220px 220px;
    gap: 20px;

}
.product-item {
    border: 1px dotted tomato;
    display: flex;
    flex-direction: column;
}
.product-item .button-link {
    margin-top: auto;
}
.product-item-link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    color: #000;
    text-decoration: none;
    margin-bottom: 8px;
    display: block;
}
.product-item-link h3 {
    margin: 0;
    padding: 0;
}
.product-item-img {
    display: block;
    /* width: 218px;
    height: 218px; */
}
.product-item-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    flex-grow: 1;
    border: 1px dotted green;
}
.product-item-price {
    display: block;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: #814b18;
    margin-bottom: 16px;
}
/* pagination */
.pagination-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 16px;
}
.pagination {
    display: flex;
    list-style-type: none;
}
.pagination-item {
    margin-right: 8px;
}